AstarPathfindingProjectForConsole/Library/
AstarPathfindingProjectForConsole/Library/*
AstarPathfindingProjectForConsole/obj/
AstarPathfindingProjectForConsole/Temp/
AstarPathfindingProjectForConsole/*.booproj
AstarPathfindingProjectForConsole/*.unityproj